.payment-outer{
	border: 1px solid #979797;
	margin-bottom: 60px;
}
.payment-upper{
	padding: 62px 82px 76px 105px;
	.payment-chat{
		position: relative;
		padding-left: 133px;
		margin-bottom: 70px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.payment-chat-fig{
		position: absolute;
		left: 0;
		top: 18px;
		img{
			width: 74px;
		}
	}
	.payment-chat-time{
		font-weight: 600;
		color: #000;
		display: block;
		margin-bottom: 7px;
	}
	.chat-txt{
		margin: 0;
		display: inline-block;
		font-size: 24px;
		font-weight: 600;
		color: #ffffff;
		background: #4990e2;
		padding: 15px 29px 20px 33px;
		border-radius: 10px;
		margin-bottom: 30px;
	}
	.chat-image{
		padding-left: 25px;
	}
	.chat-second{
		.payment-chat-fig{
			top: 0;
		}
		.chat-txt{
			background: #666;
		}
	}
}
.payment-lower{
	border-top: solid 1px #b0b0b0;
	.payment-lower-left{
		float: left;
		width: 40%;
		input{
			height: 80px;
			padding: 0 0 0 40px;
			border: none;
			width: 100%;
		}
	}
	.payment-lower-right{
		float: right;
		width: 40%;
		text-align: right;
		padding-right: 30px;
		height: 80px;
		line-height: 80px;
		a,button{
			display: inline-block;
			vertical-align: middle;
		}
		a{
			margin-right: 30px;
			&.dollor-sign{
				border: 1px solid #327ccb;
				text-align: center;
				width: 33px;
				height: 33px;
				line-height: 30px;
				border-radius: 100%;
				font-size: 24px;
				font-weight: 600;
				color: #327ccb;
			}
		}
		button{
			border: none;
			background: none;
			padding: 0;
			font-size: 24px;
			font-weight: 600;
			color: #327ccb;
		}
	}
}
.payment-request{
	width: 614px;
	border-radius: 10px;
	background-color: #ffffff;
	border: solid 1px #4990e2;
	font-size: 24px;
	font-weight: 600;
	padding: 26px 28px;
	&.active{
		padding-bottom: 0;
	}
	&.gray{
		border-color: #666;
	}
	&.green{
		border-color: #7ed321;
	}
	label{
		color: #000;
		font-weight: 600;
		margin: 0 0 9px;
	}
	p{
		margin: 0 0 30px;
		&.unique-txt{
			margin: 0 0 12px;
			position: relative;
			padding-bottom: 24px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 100%;
				height: 1px;
				width: 281px;
				background: #979797;
			}
		}
		span{
			color: #666;
		}
		i,strong{
			display: inline-block;
			vertical-align: middle;
		}
		strong{
			font-size: 64px;
			font-weight: 600;
			color: #666666;
			margin-left: 10px;
		}
		i{
			width: 32px;
			height: 32px;
			line-height: 32px;
			border-radius: 100%;
			background-color: #5b5b5b;
			font-size: 24px;
			font-weight: 600;
			font-style: normal;
			color: #ffffff;
			text-align: center;
		}
	}
}
.payment-request-btn{
	margin: 0 -28px;
	padding: 23px 25px;
	border-top: 1px solid #5199f5;
	a{
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		color: #ffffff;
		display: block;
		width: 214px;
		height: 58.2px;
		line-height: 58.2px;
		background-color: #327ccb;
	}
}