.profile-main{
	padding-bottom: 100px;
	.nav-tabs{
		border-bottom-color: #979797;
		margin-bottom: 40px;
		> li{
			margin-bottom: 0;
			width: 14.28%;
			> a{
				text-align: center;
				padding: 0 0 14px;
				margin-right: 0;
				line-height: 1;
				border: none;
				border-radius: 0;
				color: #0a0a0a;
				&:before{
					content: '';
					height: 8px;
					width: 100%;
					position: absolute;
					left: 0;
					bottom: 0;
				}
				&:hover,
				&:focus{
				    text-decoration: none;
				    background: none;
				}
			}
			&.active{
				> a{
					&:before{
						background-color: #327ccb;
					}
				}
				> a, 
				> a:hover,
				> a:focus{
					color: #0a0a0a;
					background: none;
					border: none;
					border-bottom-color: transparent;
					cursor: default;
				}
			}
		}
	}
	.accordion-panel{
		position: relative;
		padding-left: 161px;
		min-height: 236px;
		&.accordion-panel2{
			padding-left: 246px;
		}
		> ul{
			position: absolute;
			left: 0;
			top: 0;
			li{
				margin-bottom: 31px;
			}
			a{
				font-size: 24px;
				color: #0a0a0a;
				&.active{
					font-weight: bold;
				}
			}
		}
		.accordion-content{
			section{
				display: none;
				&.active{
					display: block;
				}
			}
		}
	}
}
.request-tab{
	.request-section{
		margin-bottom: 33px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}