<div class="item">
    <div class="book-slide">
        <div class="book-slide-fig">
            <div class="clone" aria-hidden="true" style="width: 100%;">
                <a [routerLink]="['/spaces/detail',space._id]">
                    <server-image [src]="space.coverPictire"></server-image>
                </a>
                <!-- <img src ="/assets/images/like.png" (click)="add();" *ngIf="like==false"> 
                <img src ="/assets/images/active-like.png"  (click)="add();"*ngIf="like==true" >  -->
                <span></span>
                <p> From: <strong >${{ space.pricingLayer[0].rate / 4 }}</strong>
                    <small>per hour</small></p>  
            </div>
        </div>
        <div class="book-slide-info">
            <h4><a [routerLink]="['/spaces/detail',space._id]"> {{ space.title }} </a></h4>
            <p>{{ space.subTitle }}</p>
            <ul>
                <li><img src="/assets/images/location-icon.png" alt=""><span>{{ space.city }}, {{ space.state }}</span></li>
                <li><img width="27px" src="/assets/images/group-icon.png" alt=""><span>{{ space.capacity.title }}</span></li>
                <li><img width="24px" src="/assets/images/arrow-direction.png" alt=""><span>{{ space.squareFootArea }} Sq. Ft.</span></li>
            </ul>
            <div class="star-sec"><img src="/assets/images/star-icon.png" alt="">
                <img src="/assets/images/star-icon.png" alt="">
                <img src="/assets/images/star-icon.png" alt="">
                <img src="/assets/images/star-icon.png" alt="">
                <img src="/assets/images/star-icon.png" alt=""><span>10 Reviews</span></div>
        </div>
    </div>
</div>