<div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
    
                <h3>Confirm</h3>
    
                <div class="form-group">
                        <label for="" class="control-label"><p>{{ message }}</p></label>
                
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)=yes()>{{ yesButton }}</button>
                        <button type="button" class="btn btn-primary" (click)=no()>{{ noButton }}</button>
                        
                    </div>
            </div>
        </div>
    </div>