@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueMedium.eot');
	src: url('../fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
		url('../fonts/HelveticaNeueMedium.woff') format('woff'),
		url('../fonts/HelveticaNeueMedium.ttf') format('truetype'),
		url('../fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}