<!--component html goes here -->
<div class="modal-dialog" role="document">
    <div class="error-box" *ngIf="error"> {{alertMessage }} </div>
    <div class="seccess-box" *ngIf="success"> {{alertMessage }} </div>
    <div class="modal-content">
        <div class="modal-body">
            <h3>Make An Offer</h3>
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="CheckIn">Check In</label>
                        </div>
                        <div class="col-sm-6">
                            <label for="CheckOut">Check Out</label>
                        </div>
                    </div>
                    <div>
                        <ng2-datepicker [options]="options" [(ngModel)]="startDate" name="startDate"></ng2-datepicker>
                        <ng2-datepicker [options]="options" [(ngModel)]="endDate" name="endDate"></ng2-datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label for="HoursNeeded">Hours Needed</label>
                    <input type="number" class="form-control" id="HoursNeeded" [(ngModel)]="HoursNeeded" name="HoursNeeded" placeholder="Enter HoursNeeed  e.g. 8">
                </div>
                <div class="form-group">
                    <label for="ProposedOffer">Proposed offer</label>
                    <input type="text" class="form-control" id="ProposedOffer" [(ngModel)]="ProposedOffer" name="ProposedOffer" placeholder="Enter ProposedOffer e.g. $700">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="makeOffer()">Make An Offer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>