<div id="container-fluid" *ngIf="isLoading"></div>
<div class="loader" *ngIf="loading"></div>

<div class="error-box" *ngIf="error"> {{alertMessage }} </div>
<div class="seccess-box" *ngIf="success"> {{alertMessage }} </div>

<div id="main-wrap">
    <div class="container">
        <div class="profile-main">

            <ul class="nav nav-tabs" role="tablist">
                <li>
                    <a [routerLink]="['/user/dashboard']" aria-controls="dashboard" role="tab" data-toggle="tab">Dashboard</a>
                </li>
                <li>
                    <a [routerLink]="['/user']" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                </li>
                <li>
                    <a [routerLink]="['/user/account']" aria-controls="account" role="tab" data-toggle="tab">Account</a>
                </li>
                <li>
                    <a [routerLink]="['/user/message']" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                </li>
                <li class="active">
                    <a [routerLink]="['/user/bookings']" aria-controls="my_bookings" role="tab" data-toggle="tab">My Bookings</a>
                </li>
                <li>
                    <a [routerLink]="['/user/requests']" aria-controls="my_requests" role="tab" data-toggle="tab">My Requests</a>
                </li>
                <li>
                    <a [routerLink]="['/user/favorites']" aria-controls="my_favorites" role="tab" data-toggle="tab">My Favorites</a>
                </li>
            </ul>
            <div role="tabpanel" class="tab-pane active">
                <div class="my_bookings-tab">
                    <h4>My Bookings</h4>
                    <div class="col-sm-12" *ngIf="space.length == 0">
                        <p>
                            You don't have any Bookings.
                        </p>
                    </div>
                    <div class="my_bookings-main" *ngFor="let item of space">
                        <div class="row">

                            <div class="col-md-6 book-slide_outer">
                                <div class="book-slide">
                                    <div class="book-slide-fig">
                                        <!--   <ul class="slides" *ngFor="let photo of item.spacse.spacsePhotoGallery">
                                            <li>
                                                <i>New</i>
                                                <server-image [src]="photo.imageUrl"></server-image>
                                                <span class="active"></span>
                                           </li>
                                           
                                         </ul> -->
                                        <ul class="my_bookings-tab book-slide-fig li img">
                                            <li>
                                                <i>New</i>
                                                <server-image [src]="item.spacse.coverPictire"></server-image>
                                                <span class="active"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="book-slide-info">
                                        <h4>{{item.spacse.title}}</h4>
                                        <p>{{item.spacse.subTitle}}</p>
                                        <ul>
                                            <li>
                                                <img src="/assets/images/location-icon.png" alt="">
                                                <span>{{item.spacse.city}},{{item.spacse.state}}</span>
                                            </li>
                                            <li>
                                                <img width="27px" src="/assets/images/group-icon.png" alt="">
                                                <span>{{item.spacse.capacity.title}}</span>
                                            </li>
                                            <li>
                                                <img width="24px" src="/assets/images/arrow-direction.png" alt="">
                                                <span>{{item.spacse.squareFootArea}} Sq. Ft.</span>
                                            </li>
                                        </ul>
                                        <div class="star-sec">
                                            <rating-star [TotalReview]="item.spacse.TotalReview" [rating]=" item.spacse.AvgReview"></rating-star>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 book-slide_outer">
                                <div class="my_bookings-right">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="my_bookings-sec">
                                                <label for="">Date Booked</label>
                                                <p>
                                                    <readable-date [createdAt]=item.createdAt></readable-date>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="my_bookings-sec">
                                                <label for="">Event Dates</label>
                                                <p>{{item.startDate}}
                                                    <b> to </b> {{item.endDate}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  <div class="my_bookings-sec">
                                        <label for="">Location</label>
                                        <p>{{item.spacse.city}},{{item.spacse.state}}</p>
                                    </div> -->



                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="my_bookings-sec">
                                                <label for="">Times</label>
                                                <p>{{item.timeFrame }} {{item.timeFrameType }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="my_bookings-sec">
                                                <label for="">Amount</label>
                                                <p>$ {{item.amount}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="my_bookings-sec">
                                                <label for="">Booking Status</label>
                                                <p>{{item.status}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="my_bookings-sec">
                                                <label for="">Payment Status</label>
                                                <p>{{ item.paymentStatus }}
                                                    <a class="pointer" (click)="confirmNow(item)" *ngIf="item.paymentStatus == 'Authorized' && item.status =='Accepted'">Confirm now</a>
                                                    <a class="pointer" (click)="payNow(item)" *ngIf="item.paymentStatus == 'Rejected' && item.status =='Accepted'">Pay now</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="my_bookings-sec">
                                        <label for="">Host Information</label>
                                        <div class="my_bookings-inner clearfix">
                                            <div class="my_bookings-info">
                                                <server-image [src]="item.spacse.user.profilePic"></server-image>
                                                <div class="my_bookings-intro">
                                                    <b>{{item.spacse.user.firstName}} {{item.spacse.user.lastName}}</b>
                                                    <strong>
                                                        <i class="fa fa-check-circle"></i>Verified owner</strong>
                                                </div>
                                            </div>
                                            <div class="my_bookings-btn">
                                                <a href="javascript:void(0);" (click)="openHostModal(item.spacse._id)">Contact Host</a>
                                            </div>

                                        </div>
                                        <a href="javascript:void(0);" (click)="openreviewModal(item.spacse._id,item._id)">Rate the Spacse</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>