<div id="main-wrap">
    <div class="container">
        <div class="profile-main">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li>
                    <a [routerLink]="['/user/dashboard']" aria-controls="dashboard" role="tab" data-toggle="tab">Dashboard</a>
                </li>
                <li><a [routerLink]="['/user']" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li><a [routerLink]="['/user/account']" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
                <li><a [routerLink]="['/user/message']" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li><a [routerLink]="['/user/bookings']" aria-controls="my_bookings" role="tab" data-toggle="tab">My Bookings</a></li>
                <li class="active"><a [routerLink]="['/user/requests']" aria-controls="my_requests" role="tab" data-toggle="tab">My Requests</a></li>
                <li><a [routerLink]="['/user/favorites']" aria-controls="my_favorites" role="tab" data-toggle="tab">My Favorites</a></li>
            </ul>
            
            <div role="tabpanel" class="tab-pane active">
                    <div class="col-sm-12" *ngIf="listItems.length == 0">
                            <p>
                                 You don't create any request.
                            </p>
                    </div> 
            <request-list-item *ngFor="let item of listItems" [itemDetail]="item" [userId]="userId"></request-list-item>
            </div>
        </div>
    </div>
</div>